{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class='card card-primary'>
    <div class='class card-header'>
        <div class='card-title'>Cadastro de Usuários</div>
    </div>
    
    <div class='card-body'>
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class='col-md-6'>
                    <div class='form-group'>
                            {% bootstrap_field form_usuario.first_name %}
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        {%bootstrap_field form_usuario.last_name%}
                    </div>
                </div>
                
            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class='form-group'>
                            {% bootstrap_field form_usuario.username %}
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        {%bootstrap_field form_usuario.email%}
                    </div>
                </div>

            </div>
            <div class="row">
                <div class='col-md-6'>
                    <div class='form-group'>
                        {% bootstrap_field form_usuario.password1 %}
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class='form-group'>
                        {% bootstrap_field form_usuario.password2 %}
                    </div>
                </div>
            </div>
            <button class="btn btn-primary" type="submit">Cadastrar</button>
            <a href='{% url 'listar_servico' %}' class='btn btn-primary'>Voltar</a>
        </form>
    </div>
    
</div>
{% endblock content %}
