{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
<div class='card card-primary'>
    <div class='class card-header'>
        <div class='card-title'> {% if request.resolver_match.url_name == 'cadastrar_usuario' %}
                Cadastro de Usuários
            {% else %}
                Edição de Usuário
            {% endif %}
        </div>
    </div>
    
    <div class='card-body'>
        <form method="POST">
            {% csrf_token %}
            {% bootstrap_form form_usuario %}
            <button class="btn btn-primary" type="submit">
                {% if request.resolver_match.url_name == 'cadastrar_usuario' %} 
                    Cadastrar
                {% else %}
                    Editar
                {% endif %}
            </button>
            <a href="
            {% if request.resolver_match.url_name == 'listar_usuario' %}
             {% url 'listar_servico' %}
            {% else %}
             {% url 'listar_usuario' %}            
            {% endif %}" class='btn btn-primary'>Voltar</a>
        </form>
    </div>
    
</div>
{% endblock content %}
