<!DOCTYPE html>
{% extends 'adminlte/base.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        

        {% endblock title %}


    </title>
</head>
<body>
    <main class='container'>
        {% block content %}
        
        {% endblock content %}
    </main>

{% block javascript %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.js" integrity="sha512-0XDfGxFliYJPFrideYOoxdgNIvrwGTLnmK20xZbCAvPfLGQMzHUsaqZK8ZoH+luXGRxTrS46+Aq400nCnAT0/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
       $('.money').mask('000,00', {reverse: true});
     });
 </script>
{% endblock javascript %}
    
</body>
</html>